src/main/java/xsd/1.13/netex_part_3/part3_salesTransactions/netex_fareContract_logentries_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_salesTransaction_version">
  <xsd:include schemaLocation="netex_salesContract_version.xsd"/>
  <xsd:include schemaLocation="netex_travelDocument_support.xsd"/>
  <xsd:include schemaLocation="netex_fareContract_logentries_support.xsd"/>
  <xsd:include schemaLocation="../../netex_part_1/part1_ifopt/netex_ifopt_stopPlace_support.xsd"/>
  <xsd:include schemaLocation="../../netex_part_1/part1_ifopt/netex_ifopt_equipmentTicketing_support.xsd"/>
  <xsd:include schemaLocation="../../netex_part_2/part2_journeyTimes/netex_serviceJourney_support.xsd"/>
  <xsd:include schemaLocation="../../netex_part_2/part2_journeyTimes/netex_datedVehicleJourney_support.xsd"/>
  <!-- ======================================================================= -->
  <!-- ====VALIDATION ENTRY ================================================ -->
  <xsd:element name="ValidationEntry" abstract="true" substitutionGroup="FareContractEntry_">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="ValidationEntry_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
              <xsd:group ref="LogEntryGroup"/>
              <xsd:group ref="FareContractEntryGroup"/>
              <xsd:group ref="ValidationEntryGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="ValidationEntryIdType"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="ValidationEntry_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="FareContractEntry_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="ValidationEntryGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="ValidationEntryGroup">
    <xsd:sequence>
      <xsd:element ref="TravelDocumentRef" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ====PASSENGER TRAVEL ENTRY ================================================ -->
  <xsd:element name="PassengerTravelEntry" abstract="true" substitutionGroup="FareContractEntry_">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="PassengerTravelEntry_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="LogEntryGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="FareContractEntryGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="ValidationEntryGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="PassengerTravelEntryGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="PassengerTravelEntryIdType"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="PassengerTravelEntry_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="ValidationEntry_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="PassengerTravelEntryGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="PassengerTravelEntryGroup">
    <xsd:sequence>
      <xsd:group ref="ControlMeansGroup"/>
      <xsd:group ref="DeviceRelatedControlMeansGroup"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="ControlMeansGroup">
    <xsd:sequence>
      <xsd:element ref="StopPlaceRef" minOccurs="0"/>
      <xsd:element ref="QuayRef" minOccurs="0"/>
      <xsd:element ref="ServiceJourneyRef" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="DeviceRelatedControlMeansGroup">
    <xsd:sequence>
      <xsd:sequence>
        <xsd:element ref="TicketValidatorEquipmentRef"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:group>
  <!-- ====PASSENGER VALIDATE TRAVEL ENTRY ================================================ -->
  <xsd:element name="PassengerValidateTravelEntry" abstract="false" substitutionGroup="FareContractEntry_">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="PassengerValidateTravelEntry_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="LogEntryGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="FareContractEntryGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="ValidationEntryGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="PassengerTravelEntryGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="PassengerValidateTravelEntryGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="PassengerValidateTravelEntryIdType"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="PassengerValidateTravelEntry_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="PassengerTravelEntry_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="PassengerValidateTravelEntryGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="PassengerValidateTravelEntryGroup">
    <xsd:sequence>
      <!-- ADD ELEMENTS FOR PASSENGER VALIDATE TRAVEL ENTRY -->
    </xsd:sequence>
  </xsd:group>
  <!-- ====PASSENGER USED SAME STOP ENTRY ================================================ -->
  <xsd:element name="PassengerUsedSameStopEntry" abstract="false" substitutionGroup="FareContractEntry_">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="PassengerUsedSameStopEntry_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="LogEntryGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="FareContractEntryGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="ValidationEntryGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="PassengerTravelEntryGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="PassengerUsedSameStopEntryGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="PassengerUsedSameStopEntryIdType"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="PassengerUsedSameStopEntry_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="PassengerTravelEntry_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="PassengerUsedSameStopEntryGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="PassengerUsedSameStopEntryGroup">
    <xsd:sequence>
      <!-- ADD ELEMENTS FOR PASSENGER USED SAME STOP ENTRY -->
    </xsd:sequence>
  </xsd:group>
  <!-- ====FULFILMENT ENTRY ================================================ -->
  <xsd:element name="FulfilmentEntry" abstract="true" substitutionGroup="FareContractEntry_">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="FulfilmentEntry_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
              <xsd:group ref="LogEntryGroup"/>
              <xsd:group ref="FareContractEntryGroup"/>
              <xsd:group ref="FulfilmentEntryGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="FulfilmentEntryIdType"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="FulfilmentEntry_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="FareContractEntry_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="FulfilmentEntryGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="FulfilmentEntryGroup">
    <xsd:sequence>
		</xsd:sequence>
  </xsd:group>
  <!-- ====PURCHASE FULFILMENT ENTRY ================================================ -->
  <xsd:element name="PurchaseFulfilmentEntry" abstract="false" substitutionGroup="FareContractEntry_">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="PurchaseFulfilmentEntry_VersionStructure">
          <xsd:sequence>
            <xsd:group ref="DataManagedObjectGroup"/>
            <xsd:group ref="LogEntryGroup"/>
            <xsd:group ref="FareContractEntryGroup"/>
            <xsd:group ref="FulfilmentEntryGroup"/>
            <xsd:group ref="PurchaseFulfilmentEntryGroup"/>
          </xsd:sequence>
          <xsd:attribute name="id" type="PurchaseFulfilmentEntryIdType"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="PurchaseFulfilmentEntry_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="FulfilmentEntry_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="PurchaseFulfilmentEntryGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="PurchaseFulfilmentEntryGroup">
    <xsd:sequence>
      <!-- ADD ELEMENTS FOR PURCHASE FULFILMENT ENTRY -->
    </xsd:sequence>
  </xsd:group>
  <!-- ====MAPPING FULFILMENT ENTRY ================================================ -->
  <xsd:element name="MappingFulfilmentEntry" abstract="false" substitutionGroup="FareContractEntry_">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="MappingFulfilmentEntry_VersionStructure">
          <xsd:sequence>
            <xsd:group ref="DataManagedObjectGroup"/>
            <xsd:group ref="LogEntryGroup"/>
            <xsd:group ref="FareContractEntryGroup"/>
            <xsd:group ref="FulfilmentEntryGroup"/>
            <xsd:group ref="MappingFulfilmentEntryGroup"/>
          </xsd:sequence>
          <xsd:attribute name="id" type="MappingFulfilmentEntryIdType"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="MappingFulfilmentEntry_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="FulfilmentEntry_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="MappingFulfilmentEntryGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="MappingFulfilmentEntryGroup">
    <xsd:sequence>
      <!-- ADD ELEMENTS FOR MAPPING FULFILMENT ENTRY -->
    </xsd:sequence>
  </xsd:group>
</xsd:schema>
